@import{
font-family: "p22-mackinac-pro", serif;
font-weight: 400;
font-style: normal;

font-family: "p22-mackinac-pro", serif;
font-weight: 400;
font-style: italic;
}

body{
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "p22-mackinac-pro", serif;
  font-weight: 400;
  font-style: normal;
}
@keyframes falling {
  0%{
    background-position: 0 0;
  }
  100%{
        background-position: -5283px 0;
  }
}
.cat{
  background-position:0 0;
background-size:auto 700px;
/* background-repeat: no-repeat; */
background-image: url(images/cat-falling-strip.png);
  display: flex;
justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:330px;
  height: 700px;
  background-color: red;
  opacity: 1;
  z-index:100;
}
.cat img{
  height: 100%;
}
.cat.animate{
  animation: falling 1.4s steps(16);
}
.main{
  /* index:10; */
  text-align: center;
      width: 100vw;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
/* padding:10vw; */
    color: #ff0000;
}

.intro{
  padding-top: 50px;
    padding-bottom: 50px;
  font-size: 17px;
}
.intro a{
    color: #ff0000;
    text-decoration: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #ff0000;
}
.logo img{
  width:90vw;
}
.para{
  width:80vw;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 21px;
}

.header-image{
  top: 0;
  left:0;
  position: relative;
  width:80vw;
  height: 70vh;
  /* background-color: blue; */
}


.arrow1{
  position: absolute;
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(images/red-arrow1.png);
    width:250px;
      height:250px;
  top: 0;
  left:0;
}

.sanchita-image{
    position: absolute;
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(images/sanchita-illustration.png);
width:150px;
  height:350px;
      /* background-color: red; */
  top: 100px;
  right:0;
}

.arrow2{
      position: absolute;
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(images/red-arrow2.png);
width:200px;
  height:200px;
  bottom: 0;
  left:0;
}

.book-spread{
  top: 0;
  left:0;
  position: relative;
  width:80vw;
  height: 45vh;
}
.spread{
  position: absolute;
top: 0;
left:0;
}
.spread img{
  width:80vw;
    height:auto;
}

.graphic{
  position: absolute;
  z-index: 1;
bottom: 0;
left:0;
}

.graphic img{
  width:20vw;
    height:auto;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
width:80vw;
  padding: 20px;
  background-color: #ff0000;
  border-radius: 50px;
  color: white;
}
.footer-header{
  padding-top: 20px;
    padding-bottom: 20px;
  font-size: 32px;
}

.footer-copy{
  width:60vw;
  padding-top: 40px;
    padding-bottom: 40px;
  font-size: 17px;
}

.footer-footnote{
  padding-top: 20px;
    padding-bottom: 20px;
  font-size: 14px;
}
.footer-button{
color: #ff0000;
  padding-top: 20px;
    padding-bottom: 20px;
  background-color: white;
  width:200px;
  height:15px;
  border-radius: 50px;
}

.socials{
  width: 60vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* align-items:  ; */
  justify-content: space-between;
  text-align: center;
  padding-top: 30px;
    padding-bottom: 30px;
}
.socials img{
  width:20px;
  height:20px;
}
.credits{
  padding-bottom: 20px;
  width: 80vw;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
