@import{
font-family: "p22-mackinac-pro", serif;
font-weight: 400;
font-style: normal;

font-family: "p22-mackinac-pro", serif;
font-weight: 400;
font-style: italic;
}

html, body{
 background-color: #FDFBF7;
  padding: 0;
  margin: 0;
  font-family: "p22-mackinac-pro", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

/* @keyframes falling {
  0%{
    background-position: 0 0;
  }
  100%{
        background-position: -5283px 0;
  }
} */
.box{
  position: relative;
  /* height:2460px; */
}
.cat-box{
      z-index:100;
  position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: sticky;
  top: 0%;
  left:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
    /* transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0); */
  /* background-color: red; */
}
.cat{
  width:330px;
  height: 700px;
opacity: 1;
  background-size: auto 700px;
  background-image: url(images/cat-falling-strip.png);
}


.main{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height:auto;
  /* index:10; */
  text-align: center;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
/* padding:10vw; */
    color: #ff0000;
}

.intro{
  padding-top: 180px;
    padding-bottom: 40px;
  font-size: 17px;
}
.intro a{
    color: #ff0000;
    text-decoration: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #ff0000;
}
.logo img{
  width:95vw;
}
.para{
  width:70vw;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.header-image{
  display: flex;
justify-content: flex-end;
align-items: flex-end;
/* background-color: pink; */
width: 70vw;
}


.arrow1{
  position: absolute;
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(images/red-arrow1.png);
    width:160px;
      height:160px;
  top: 0;
  left:10%;
}
.tuna{
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(images/tuna-with-arrow.gif);
width:300px;
  height:400px;
}
.sanchita-image{
    /* position: absolute; */
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(images/sanchita-illustration.png);
width:300px;
  height:400px;
}

.arrow2{
      position: absolute;
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(images/red-arrow2.png);
width:120px;
  height:120px;
  bottom: 0;
  left:30%;
}

.book-spread{
  margin-top: 40px;
  margin-bottom: 40px;
  width:80vw;
}

.book-spread img{
  width:100%;
}
.book-spread-desktop{
  display: none;
}
.spread{
  position: absolute;
top: 0;
left:0;
}
.spread img{
  width:80vw;
    height:auto;
}

.graphic-box{
  position: absolute;
  z-index: 1;
bottom: 0;
right:0;
  width:30vw;
  height: 30vw;
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(images/red-graphic.png);
display: flex;
align-items: center;
justify-content: center;
}

.graphic{

/* width:100%; */
    /* height:auto; */
}
.graphic-text{
  font-size: 14px;
    width:100px;
  color: white;
}

.footer{
  margin-top:40px;
    margin-bottom:40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
width:80vw;
  /* padding: 80px; */
  background-color: #ff0000;
  border-radius: 50px;
  color: white;
}
.footer-header{
  line-height:1.2;
    width:60vw;
  padding-top: 40px;
    /* padding-bottom: 20px; */
  font-size: 30px;
}

.footer-copy{
  width:65vw;
  padding-top: 20px;
    padding-bottom: 20px;
  font-size: 17px;
}

.footer-footnote{
    width:60vw;
  padding-top: 20px;
    padding-bottom: 20px;
  font-size: 14px;
}
.footer-button{
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(images/arrow-button.png);
color: #ff0000;
  margin-top: 80px;
    margin-bottom: 40px;
  background-color: white;
  width:200px;
  height:50px;
  border-radius: 50px;
}

.socials{
  width: 60vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* align-items:  ; */
  justify-content: space-between;
  text-align: center;
  padding-top: 30px;
    padding-bottom: 40px;
}
.socials img{
  width:20px;
  height:20px;
}
.credits{
  padding-bottom: 20px;
  width: 70vw;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.credits a{
  /* font-style: italic; */
  /* font-size: 21px; */
  color: #ff0000;
  text-decoration: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #ff0000;
}
.email a{
  font-style: italic;
  font-size: 21px;
  color: #ff0000;
  text-decoration: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #ff0000;
}
.tuna{
  display: none;
}
@media (min-width: 1024px) {

  .logo img{
    width:80vw;
  }

  .intro{
    font-size:27px;
  }

.para{
  width:45vw;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
}

.book-spread-mobile{
  display: none;
}

.header-image{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: pink; */
  width: 90vw;
  margin-bottom: 50px;
}
.tuna{
    display:  block;
}
.book-spread-desktop{
  display:  block;
}



.tuna{
/* background-color: yellow; */
width:350px;
  height:500px;
}
.sanchita-image{
/* background-color: yellow; */
width:550px;
  height:800px;
}

.footer{
  width: 70vw;
  border-radius: 100px;
}
.footer-header{
  padding-top: 60px;
  font-size: 54px;
}

.footer-copy{
  /* background-color: blue; */
  width:40vw;
  padding-top: 20px;
    padding-bottom: 20px;
  font-size: 32px;
}

.footer-footnote{
    width:60vw;
  padding-top: 20px;
    padding-bottom: 20px;
  font-size: 24px;
}
.footer-button{
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(images/arrow-button.png);
color: #ff0000;
  margin-top: 80px;
    margin-bottom: 40px;
  background-color: white;
  width:200px;
  height:50px;
  border-radius: 50px;
}

.socials{
  width: 15vw;
  padding-top: 30px;
    padding-bottom: 40px;
}


}
